footer {
  min-height: 250px;
  background-color: rgb(42, 42, 114);
  color: rgb(234, 246, 255);
  margin: 0;
  padding: 0;
  bottom: 0;
  font-size: 16px;
  width: 100vw;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  justify-content: space-around;
  align-items: first baseline;
  width: 80vw;
}

.footer-social {
  background-color: rgb(234, 246, 255);
  display: flex;
  border-radius: 100px;
  width: min-content;
  justify-content: space-evenly;
  align-items: center;
}

.footer-social-image {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin: 10px;
}

.footer-link {
  text-decoration: none;
  color: rgb(154, 82, 118);
  font-weight: 700;
  transition: color 0.15s;
}

.footer-headers {
  font-size: 20px;
  font-weight: 600;
}

.footer-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-link:hover {
  color: rgb(174, 102, 138);
}

.footer-link:active {
  color: rgb(194, 122, 158);
}