body {
  margin: 0;
  font-family: Lexend, Arial;
  background-color: rgb(234, 246, 255);
}

button {
  cursor: pointer;
  transition: background-color 0.15s;
}

.link-button:hover,
button:hover {
  background-color: rgb(52, 52, 124);
}

.link-button:active,
button:active {
  background-color: rgb(65, 65, 140);
}

