.header{
  z-index: 100;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(234, 246, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(42, 42, 114);
}

.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.mid-section{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.top-title{
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}

.right-section{
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.project-documentation{
  font-size: 'Lexend', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(234, 246, 255);
  border: none;
  background-color: rgb(42, 42, 114);
  padding: 14px;
  border-radius: 40px;
  transition: background-color 0.15s;
}

.project-documentation:hover {
  background-color: rgb(62, 62, 134);
}

.project-documentation:active {
  background-color: rgb(82, 82, 154);
}

.header-icon{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.me{
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  margin-left: 10px;
}

.header-link {
  text-decoration: none;
  font-weight: 700;
  color: rgb(154, 82, 118);
  transition: color 0.15s;
}

.header-link:hover {
  color: rgb(114, 42, 78);
}

.header-link:active {
  color: rgb(94, 22, 58);
}

.hero-header{
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(234, 246, 255);
  background: rgb(42,42,114);
  background: linear-gradient(180deg, rgba(42, 42, 114, 1) 20%, rgba(234, 246, 255, 1) 100%);
}

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
}

.hero-title{
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 60px;
  padding: 20px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-summary{
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 22px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.anchor-button{
  background-color: rgb(234, 246, 255);
  color: rgb(42, 42, 144);
  border: none;
  font-family: 'Lexend', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: box-shadow 0.15s;
}

.anchor-button:hover {
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.anchor-button:active {
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.15);
}


.anchor-div{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-anchor-image{
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 5px;
}