.conversation-space,
.image-space {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.kanye-bubble,
.swanson-bubble,
.kanye-image-space,
.swanson-image-space {
  display: flex;
  align-items: center;
}

.kanye-bubble {
  justify-content: left;
  margin: 10px 50px 10px 100px;
}

.swanson-bubble {
  justify-content: right;
  margin: 10px 100px 10px 50px;
}

.kanye-image-space {
  justify-content: left;
  margin: 10px 10px 10px 50px;
}

.swanson-image-space {
  justify-content: right;
  margin: 10px 50px 10px 10px;
}

.convo-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-convo-button {
  font-size: 'Lexend', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(234, 246, 255);
  border: none;
  background-color: rgb(42, 42, 114);
  padding: 20px 40px;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}
