/* List of classes in Hero

hero
  hero-container
    hero-title
    hero-summary
    hero-anchor-div
      hero-anchor-button
        hero-anchor-button-image

*/

/* Styles for Hero */

.hero {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(234, 246, 255);
  background: rgb(42,42,114);
  background: linear-gradient(180deg, rgba(42, 42, 114, 1) 20%, rgba(234, 246, 255, 1) 100%);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
}

.hero-title {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 60px;
  padding: 20px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-summary {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 22px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

/* Styles for Hero Anchor Button Div and Buttons */

.hero-anchor-button-div{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-anchor-button {
  background-color: rgb(234, 246, 255);
  color: rgb(42, 42, 144);
  border: none;
  font-family: 'Lexend', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: box-shadow 0.15s;
}

.hero-anchor-button:hover {
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.hero-anchor-button:active {
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.15);
}

.hero-anchor-button-image{
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 5px;
}
