body{
  margin: 0;
}

button{
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover{
  background-color: rgb(143, 133, 199);
}

button:active{
  background-color: rgb(133, 123, 199);
}

.header{
  z-index: 100;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(249, 245, 255);
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.mid-section{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.top-title{
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}

.right-section{
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.view-code-button{
  font-size: 'Lexend', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: rgb(249, 245, 255);
  border: none;
  background-color: rgb(153, 143, 199);
  padding: 14px;
  border-radius: 40px;
}

.header-icon{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.me{
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.landing{
  height: 600px;
  background-color: rgb(212,194,252);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-hero{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-title{
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 60px;
  padding: 20px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-summary{
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 22px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.git-button,
.link-button{
  background-color: rgb(153, 143, 199);
  color: rgb(249, 245, 255);
  border: none;
  font-family: 'Lexend', sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
}

.button-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conversation-space,
.image-space{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.kanye-bubble,
.swanson-bubble,
.kanye-image-space,
.swanson-image-space{
  display: flex;
  align-items: center;
}

.kanye-bubble{
  justify-content: left;
  margin: 10px 50px 10px 100px;
}

.swanson-bubble{
  justify-content: right;
  margin: 10px 100px 10px 50px;
}

.kanye-image-space{
  justify-content: left;
  margin: 10px 10px 10px 50px;
}

.swanson-image-space{
  justify-content: right;
  margin: 10px 50px 10px 10px;
}

.js-convo-button{
  font-size: 'Lexend', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(249, 245, 255);
  border: none;
  background-color: rgb(153, 143, 199);
  padding: 20px;
  border-radius: 40px;
  margin-top: 1000px;
}


.test-image{
  width: 400px;
  height: 400px;
  object-fit: cover;
}

