body{
  background-color: white;
}

.project-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 600;
  border: 4mm ridge rgba(200, 200, 200, 0.6);
  background-color: rgb(210, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px 15px 100px 15px;
}

.conversation-space,
.image-space{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conversation-space{
  background-color: white;
}

.kanye-bubble,
.swanson-bubble,
.kanye-image-space,
.swanson-image-space{
  display: flex;
  align-items: center;
}

.kanye-bubble{
  justify-content: left;
  margin: 10px 50px 10px 100px;
}

.swanson-bubble{
  justify-content: right;
  margin: 10px 100px 10px 50px;
}

.kanye-image-space{
  justify-content: left;
  margin: 10px 10px 10px 50px;
}

.swanson-image-space{
  justify-content: right;
  margin: 10px 50px 10px 10px;
}




.test-image{
  width: 400px;
  height: 400px;
  object-fit: cover;
}

